*-debug.log
*-error.log
*.oclif.manifest.json
*.sublime-project
*.sublime-workspace
*.tern-port
.DS_Store
.env
.env.*
.git
.idea
.nyc_output
.vscode
node_modules
scripts
src
test
tmp
.eslintrc.json
.prettierrc.json
tsconfig.json

